@model Transport.Models.PersonDTO

@{
    ViewData["Title"] = "Editar | Persona";
}

<h1>Editar Persona</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Dni" />
            <div class="form-group mt-3">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" disabled />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Surnames" class="control-label"></label>
                <input asp-for="Surnames" class="form-control" />
                <span asp-validation-for="Surnames" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-warning"><i class="bi bi-floppy"></i> Actualizar</button>
                <a asp-action="Index" class="ml-2 btn btn-outline-danger"><i class="bi bi-arrow-return-left"></i> Volver a lista</a>
            </div>
        </form>
    </div>
</div>

